[Unit]
Description=Christotron
After=network.target

[Service]
User=christotron
ExecStart="/home/christotron/TheBumApp/servicescript.sh"
Restart=always

[Install]
WantedBy=multi-user.target
